.cartPriceAlign {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.cartPartPrice {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: grey;
}