@import "../../Constants";

@use "sass:map";

.mobileToolBar {
  background: white;
  color: black;

  &.mobileToolBarHeight {
    @media (min-width: map-get($breakpoints, "xs")) {
      min-height: map-get($mobile-header-height, "xs");
    }

    @media (min-width: map-get($breakpoints, "sm")) {
      min-height: map-get($mobile-header-height, "sm");
    }

    @media (min-width: map-get($breakpoints, "md")) {
      min-height: map-get($mobile-header-height, "md");
    }
  }
}

.mobileLogo {
  width: 10%;
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
