$breakpoints: (
        "xs": 0px,
        "sm": 600px,
        "md": 960px,
        "lg": 1280px,
        "xl": 1920px
);

$mobile-header-height: (
        "xs": 56px,
        "sm": 64px,
        "md": 56px
);

$mobile-footer-height: (
        "xs": 170px,
        "sm": 170px,
        "md": 170px
);