@import "../Constants";

@use "sass:map";

.footer {
  background: black;
  color: white;

  &.footerHeight {
    @media (max-width: map-get($breakpoints, "xs")) and (orientation: landscape) {
      min-height: map-get($mobile-footer-height, "xs");
    }

    @media (max-width: map-get($breakpoints, "sm")) {
      min-height: map-get($mobile-footer-height, "sm");
    }

    @media (max-width: map-get($breakpoints, "md")) {
      min-height: map-get($mobile-footer-height, "md");
    }
  }

  &__sitemap {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
  }
  .footer__sitemap .MuiTypography-h6 {
    font-size: 12px;
  }
  &__copyright, &__author {
    display: flex;
    align-items: center;
    justify-content: center;

    .MuiSvgIcon-root, .MuiTypography-h6 {
      font-size: 12px;
    }
  }

  &__author {
    margin: 15px 0;
  }
}

.socialMedias {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  font-size: 25px;
}

.socialMedia {
  margin: 0 15px;
}
