.drawerContentContainer {
  width: 80vw;
  max-width: 300px;
  padding: 6%;
  box-sizing: border-box;
}

.drawerContentItem {
  margin-left: 5%;
}

.filterItem {
  padding: 5%;
  box-sizing: border-box;
}

.filterExtendItem {
  border-radius: 5px;
}